In [1]:
import pandas as pd

Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [6]:
# To create a pandas series we use the pd.Series() function
x=pd.Series([4,8,15,16,23,42])
print(type(x))
print(x)

<class 'pandas.core.series.Series'>
0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [14]:
data=[4,8,15,16,23,42,67,876,678,456]
print(data)
print(type(data))
series=pd.Series(data)
print(series)
print(len(series))
print(type(series))

[4, 8, 15, 16, 23, 42, 67, 876, 678, 456]
<class 'list'>
0      4
1      8
2     15
3     16
4     23
5     42
6     67
7    876
8    678
9    456
dtype: int64
10
<class 'pandas.core.series.Series'>

Q3. Create a Pandas DataFrame

In [15]:
# To create a DataFrame we use pd.DataFrame function
dictionary={'Name': ['Alice','Bob','Claire'],'Age':[25,30,27],'Gender':['Female','Male','Female']}
print(dictionary)
print(type(dictionary))
dataF=pd.DataFrame(dictionary)
print(dataF)
print(type(dataF))

{'Name': ['Alice', 'Bob', 'Claire'], 'Age': [25, 30, 27], 'Gender': ['Female', 'Male', 'Female']}
<class 'dict'>
     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female
<class 'pandas.core.frame.DataFrame'>

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

In [25]:
#  A Data frame is a two-dimensional data structure, i.e., data is aligned in a tabular fashion in rows and columns. Pandas DataFrame consists of three principal components, the data, rows, and columns.
#Example of DataFrame:-
dictionary={'Name': ['Alice','Bob','Claire'],'Age':[25,30,27],'Gender':['Female','Male','Female']}
dataF=pd.DataFrame(dictionary)
print("DataFrame is two-dimensional:\n",dataF)
# A Series is a one-dimensional labeled array capable of holding data of any type 
#Example of Series
data=[4,8,15,16,23,42,67,876,678,456]
series=pd.Series(data)
print("Series is one-dimensional:\n",data)

DataFrame is two-dimensional:
      Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female
Series is one-dimensional:
 [4, 8, 15, 16, 23, 42, 67, 876, 678, 456]

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

In [39]:
# There are various functions that can be used to manipulate data in pandas.
# These are
print(dataF.head(1),"\n")
print(dataF.tail(1),"\n")
print(dataF['Name'],"\n")
print(dataF['Age']>25,"\n")
print(dataF['Gender']=='Female',"\n")
print(dataF.isnull(),"\n")

    Name  Age  Gender
0  Alice   25  Female

     Name  Age  Gender
2  Claire   27  Female

0     Alice
1       Bob
2    Claire
Name: Name, dtype: object

0    False
1     True
2     True
Name: Age, dtype: bool

0     True
1    False
2     True
Name: Gender, dtype: bool

    Name    Age  Gender
0  False  False   False
1  False  False   False
2  False  False   False

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

### DataFrame and Panel are mutable in nature

Q7. Create a DataFrame using multiple Series. Explain with an example.

In [44]:
series1=pd.Series(['Alice','Bob','Claire'])
series2=pd.Series([25,30,27])
series3=pd.Series(['Female','Male','Female'])

In [49]:
dataF2=pd.DataFrame([series1,series2,series3])

In [52]:
dataF2

        0     1       2
0   Alice   Bob  Claire
1      25    30      27
2  Female  Male  Female